@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #efefef; /* Define uma variável chamada --primary-color com o valor de cor #3498db */
    --secondary-color: #fff;
    --tertiary-color: #000000;
    --quaternary-color: #FFF;
    --primeira_cor:#efefef;
}
.zoom { 
	text-align:center;
	overflow: hidden; 
	cursor:pointer;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}
.zoom:hover { 
	-moz-transform: scale(1.06);
	-webkit-transform: scale(1.03);
	-transform: scale(1.05);
}

/* ===== Estilos Gerais ===== */
.tela {
    display: flex;
    background-color: #f8f9fa; /* Cor de fundo clara e elegante */
}

/* ===== Estilos para o Calendário ===== */
.calendario {
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    margin: 8vh auto;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    height: 85vh;
    width: 95%;
    overflow: hidden;
}
.rbc-row-content{
    height:0px;
}
/* ===== Estilos para a Visualização de Semana ===== */
.rbc-today {
    background-color: black; /* Fundo azul claro para destacar o dia atual */
    border: 1px solid #007bff; /* Borda azul para um contraste adicional */
    color:black;
}

.rbc-today .rbc-day-bg {
    background-color: rgb(0, 123, 255); /* Um tom ainda mais claro para o plano de fundo */
}

.rbc-today .rbc-time-slot {
    background-color: rgba(0, 123, 255, 0.05); /* Cor clara para slots de tempo no dia atual */
}
.rbc-time-view {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 10px;
}

.rbc-time-header {
    background-color: #343a40;
    color: #ffffff;
    border-radius: 8px;

    font-size: 14px;
    font-weight: bold;

}

.rbc-time-header-cell {
    background-color: #343a40;
    color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.rbc-time-content {
    border-top: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.rbc-time-slot {
    border-top: 1px solid #e0e0e0;
    height: 50px;
}

.rbc-time-gutter {
    background-color: #f0f0f0;
    color: #333;
    border-right: 1px solid #ddd;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
}

.rbc-event {
    background-color: #28a745;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.rbc-event:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rbc-current-time-indicator {
    background-color: #dc3545; /* Cor vermelha para destacar a hora atual */
    width: 2px;
    z-index: 10;
}

.rbc-calendar {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 5px;
}

/* ===== Toolbar (Barra de Ferramentas) ===== */
.toolbar-container {
    display: flex;
    align-items: center;
    height: 8vh;
    padding-left: 20px;
    margin-top: 20px;
    background-color: #f0f0f0;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.rbc-toolbar-label {
    color: #333;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: auto;
}

.rbc-toolbar button {
    color: #007bff;
    background-color: #e9ecef;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 500;
}

.rbc-toolbar button:hover,
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
    background-color: #007bff;
    color: white;
}

/* ===== Estilos para o Corpo do Calendário ===== */
.rbc-month-view {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.rbc-header {
    background-color: #343a40;
    color: #fff;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
}

.rbc-today {
    background-color:black;
}

.rbc-event {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.rbc-event:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ===== Estilos para a Visão de Agenda ===== */
.rbc-agenda-content,
.rbc-agenda-view {
    color: #333;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor:pointer;
}


.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
    background-color: #e9ecef;
    color: #343a40;
    padding: 8px;
    border-radius: 8px;
}

/* ===== Estilos para o Modal de Eventos ===== */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
}

/* ===== Outros Estilos ===== */
.rbc-time-slot-cell {
    border-color: #e0e0e0;
    height: 50px;
    margin:auto;

}

.rbc-now .rbc-button-link {
    color: #000;
}

.rbc-off-range .rbc-button-link {
    color: black;
}

/* Custom Select Styling */
.custom-select-component {
    width: 200px;
    position: relative;
}

.custom-select-box {
    border: 1px solid #ccc;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
}

.custom-options-container {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-select-option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}

.custom-select-option:hover {
    background-color: #e9ecef;
}

/*
.conteudo_materiais_cursos {
    border:3px solid blue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    z-index: 300;
    background: white;
    width: 50%;
    height: 95%;
    overflow-x:hidden !important;
    border-radius: 5px;
    border-radius:10px;
    transition: transform 0.5s ease-in-out;
    
}


.materiais_cursos.materialShow { 
visibility: visible;
opacity: 1;
}
.materiais_cursos.materialShow .conteudo_materiais_cursos {
transform: scale(0.5);
}
.materiais_cursos.materialHide .conteudo_materiais_cursos {
transform: scale(0);
transition: transform 0.3s ease-in-out;
}

.materiais_cursos.materialHide {
opacity: 0;
transition: opacity 0.5s ease-in-out, visibility 0.5s step-end;
}
    */
      /* Barra de rolagem para navegadores WebKit */
      .conteudo_materiais_cursos::-webkit-scrollbar {
        width:4px; /* Largura da barra de rolagem */
        border-radius: 10px;
    }

    /* Trilha da barra de rolagem */
    .conteudo_materiais_cursos::-webkit-scrollbar-track {
        background:gray; /* Cor da trilha */
        border-radius: 10px; /* Bordas arredondadas */
    }

    /* Polegar da barra de rolagem */
    .conteudo_materiais_cursos::-webkit-scrollbar-thumb {
        background: #001; /* Cor do polegar */
        border-radius: 10px; /* Bordas arredondadas */
    }

    /* Polegar da barra de rolagem ao passar o mouse */
    .conteudo_materiais_cursos::-webkit-scrollbar-thumb:hover {
        background: white; /* Cor do polegar ao passar o mouse */
    }

	/* width */
    ::-webkit-scrollbar {
        width: 3px;
        position:absolute;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px white; 
        position:absolute;
    }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: gray; /* Cor do polegar */
      border-radius: 10px; /* Bordas arredondadas */
      position: absolute;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
         background: darkgray; 
      }
      ::-webkit-scrollbar-track :hover {
         box-shadow: inset 0 0 20px blue; 
        border-radius: 300px;
      }

      .no-select {
        user-select: none;
      }
      /* Estiliza apenas o dropdown do MultiSelect */
.p-multiselect-panel {
    background-color: #f0f0f0; /* Muda a cor de fundo do dropdown */
    border: 1px solid #888; /* Define a cor da borda do dropdown */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
    padding: 8px; /* Ajusta o espaçamento interno */
}

/* Estilização dos itens dentro do dropdown */
.p-multiselect-item {
    color: #333; /* Define a cor do texto */
    padding: 8px; /* Ajusta o espaçamento de cada item */
}
.p-multiselect-header {
    background-color: #b9b9b9; /* Cor de fundo ao passar o mouse sobre o item */
    
}

/* Ajusta o estilo dos itens do dropdown do AutoComplete */
.p-autocomplete-panel .p-autocomplete-item {
    background-color: #ffffff !important; /* Força o fundo branco */
    color: #000000 !important; /* Força o texto preto */
    padding: 8px; /* Adiciona espaço para melhorar a visualização */
    border-bottom: 1px solid #e0e0e0; /* Adiciona uma borda inferior para separação */
}

.p-autocomplete-panel .p-autocomplete-item:hover {
    background-color: #e0e0e0 !important; /* Cor de fundo ao passar o mouse */
    color: #000000 !important; /* Mantém a cor do texto preta */
}

